<div class="gamewindow row justify-content-center align-items-end">

  <emptyfloor></emptyfloor>

  <div class="toolbar">
    <p><strong>People:</strong>0</p>
    <p><strong>Funds:</strong>$0</p>
    <hr>
    <div class="add building">
      <button id="add-residential" class="btn btn-primary" ng-click="$ctrl.newUnit('res')"> Add Residential</button>
      <button id="add-commercial" ng-click="$ctrl.newUnit('com')" class="btn btn-primary">Add Commercial</button>
      <button id="add-floor" class="btn btn-primary" ng-click="$ctrl.newFloor()"> Add Floor</button>
    </div>
  </div>
</div>
