<div class="gamewindow row justify-content-center align-items-end">

  <emptyfloor></emptyfloor>


  <div class="toolbar p-3">
    <div class="row resource-window d-flex justify-content-around align-items-center">
      <div class="col-md-4 text-center">
        <img class="resource-icons" src="../assets/group-48.png" alt="">  <strong>{{$ctrl.game.towerResources.population}}</strong>
        </div>
      <div class="col-md-4 text-center">
        <img class="resource-icons" src="../assets/money-bag-48.png" alt=""><strong ng-class="{'negative': $ctrl.game.funds < 0}">  ${{$ctrl.game.funds}}</strong>
      </div>
      <div class="col-md-4 text-center">
        <img class="resource-icons" src="../assets/finance-orange1.png" alt=""><span ng-class="{
          'positive': $ctrl.game.towerResources.netRevenue > 0,
          'negative': $ctrl.game.towerResources.netRevenue < 0}"><strong>
          ({{$ctrl.game.towerResources.netRevenue}})</strong></span>
        </div>
    </div>
    <hr>

    <div class="add building">
      <button id="add-residential" class="btn btn-primary" ng-class="{'disabled': $ctrl.game.funds < $ctrl.resCost}" ng-click="$ctrl.newUnit('res')"> Add Residential ( {{$ctrl.resCost}} )</button>
      <button id="add-commercial" ng-class="{'disabled': $ctrl.game.funds < $ctrl.comCost}" ng-click="$ctrl.newUnit('com')" class="btn btn-primary">Add Commercial ( {{$ctrl.comCost}} )</button>
      <button id="add-floor" class="btn btn-primary" ng-class="{'disabled': $ctrl.game.funds < $ctrl.floorCost}" ng-click="$ctrl.newFloor()"> Add Floor ( {{$ctrl.floorCost}} )</button>
    </div>

    <div class="stars text-center m-3">
      <p>STAR RATING</p>
        <img ng-repeat="star in $ctrl.stars track by $index" class="star" ng-src="{{$ctrl.hasStar(star)}}" alt="">
      <hr>
      <h6><span class="five-stars"><img class="pop-goal-img" src="../assets/group-48.png" alt=""><strong>{{$ctrl.fiveStars}}</strong> = YOU WIN</span></h6>
    </div>
</div>
