<div class="gamewindow row justify-content-center align-items-end">

  <emptyfloor></emptyfloor>

  <div class="toolbar">
    <p><strong>People: </strong>{{$ctrl.towerResources.population}}</p>
    <p><strong>Funds: </strong>${{$ctrl.funds}}</p>
    <p><strong>Net Income: </strong><span ng-class="{
        'positive': $ctrl.towerResources.netRevenue > 0,
        'negative': $ctrl.towerResources.netRevenue < 0}">
        ( {{$ctrl.towerResources.netRevenue}} )</span>
    </p>
    <hr>
    <div class="add building">
      <button id="add-residential" class="btn btn-primary" ng-click="$ctrl.newUnit('res')"> Add Residential ( -$15 )</button>
      <button id="add-commercial" ng-click="$ctrl.newUnit('com')" class="btn btn-primary">Add Commercial ( -$10 )</button>
      <button id="add-floor" class="btn btn-primary" ng-click="$ctrl.newFloor()"> Add Floor ( -$100 )</button>
    </div>
    <div class="stars">
      <p>Star rating: (* * * * *)</p>
    </div>
</div>
