<div class="login-page" ng-if="$ctrl.loginService.showForm">
  <div class="form">
    <form ng-submit="$ctrl.createUser($ctrl.user)" class="register-form">
      <input type="text" ng-model="$ctrl.user.username" placeholder="username"/>
      <button>create</button>
      <p class="message">Already registered? <a ng-click="$ctrl.slideForm()" href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a ng-click="$ctrl.slideForm()" href="#">Create an account</a></p>
    </form>
  </div>
</div>
