.module {
  cursor: url('path-to-image.png'), auto;
}
.module:active {
  cursor: url('path-to-image.png'), auto;
}

.gamewindow {
  cursor: url('path-to-image.png'), auto;
  width: 100%;
  height: 100vh;
  padding-bottom: 15px;
}

.tower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  border-width: medium;
  border-color: 5px;
  width: 700px;
  height: 100px;
}

.floor.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  border-width: medium;
  border-color: 5px;
  width: 700px;
  height: 100px;
}

.unit.residential-unit {
  background-color: lightgreen;
  width: calc(100%  /4);
  /*flex: 4;*/
}
.unit.commercial-unit {
  background-color: powderblue;
  width: calc(100%  /3);
  /*flex: 5;*/
}

.toolbar{
  margin-left: 100px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  height: 400px;
  width: 300px;
  background-color: rgba(255,255,255,0.5);
  border: 4px solid black;
}

#add-residential {
  width: 100%;
  margin-bottom: 10px;
}

#add-commercial {
  width: 100%;
  margin-bottom: 10px;
}

#add-floor {
  width: 100%;
  margin-bottom: 10px;
}
