.gamewindow {
  width: 100%;
  height: 100vh;
  padding-bottom: 4%;
  flex-wrap: wrap;
  overflow: visible;
}

.tower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  width: 120vh;
  height: 90px;
  margin-right: 100px;
  margin-bottom: 25px;
}

.unit.residential-unit {
  background-color: lightgreen;
  width: calc(100%  /4);
  position: relative;
  /*flex: 4;*/
  border: 3px solid black;
}
.unit.commercial-unit {
  background-color: powderblue;
  width: calc(100%  /3);
  /*flex: 5;*/
  border: 3px solid black;
}

.toolbar{
  height: 80vh;
  width: 300px;
  background-color: rgba(255,255,255,0.5);
  border: 4px solid black;
  position: fixed;
  right: 0;
}

.resource-window {
  margin-bottom: 10px;
  margin-top: 10px;
}

.positive {
  color: rgb(0, 134, 10)
}

.negative {
  color: red
}

hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: black; /* old IE */
    background-color: black; /* Modern Browsers */
}

.unit-res, .unit-com{
  display: flex;
  justify-content: center;
  align-items: center;
}

#com-btn {
  max-width: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#res-btn{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 20%;
}

#add-residential {
  width: 100%;
  margin-bottom: 10px;
}

#add-commercial {
  width: 100%;
  margin-bottom: 10px;
}

#add-floor {
  width: 100%;
  margin-bottom: 10px;
}

input[type=radio] {
  display: none;
}

/* these add colors to icon button boxes */
/*.btn-outline-secondary {
  background-color: none !important;
  border-color: #8064A2 !important;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:visited,
.btn-outline-secondary:focus {
    background-color: lightgreen !important;
    border-color: green !important;
}*/

.filler#filler {
  min-width: -1px;
  flex-grow: 1;
}

.stairs#stairs-first-left {
  width: 15px;
  height: 90px;
  position: relative;
   left: -15px;
  margin-right: -15px;
}
.stairs#stairs-first-right {
  width: 15px;
  height: 90px;
  position:relative;
   right: -15px;
  margin-left: -15px;
}

img.star {
  max-width: 32px;
  max-height: 32px;
}
img.resource-icons {
  max-width: 48px;
  max-height: 48px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}
