body, html, html button:hover, html a:hover {
  cursor: url('/assets/cursor.png') auto !important;
}
body, html, html button:active, html a:active {
  cursor: url('/assets/cursor-click.png') auto !important;
}

#logo-header {
  width: 450%;
  height: 100%;
}
.navbar-brand {
  width: 50px;
  height: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.instructions-dropdown{
  border:4px solid black;
  width: 50%;
  height: 400px;
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 20px;
  background-color: rgba(255,255,255,0.5);
}

#instructions-title {
  margin-top: 4%;
}

.instructions-content{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.instructions-text{
  padding-top: 20px;
  padding-bottom: 10px;
}

.new-game{
  margin-top: 200px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(67, 120, 238);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(22, 35, 195);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgb(22, 35, 195);
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


.mainbody {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/47/1a/08/471a08fc76dc51e61d8cc160a70f3448.jpg");
  background-repeat:no-repeat;
  background-position:center;
  display: block;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
}

.scrollingDiv {
   overflow:scroll;
}
