<div class="container">
  <div class="row">
    <button ng-click="$ctrl.newGame()" class="btn-lg btn-primary btn-block new-game">New Game</button>
    <button class="btn-lg btn-primary btn-block instructions" ng-click="$ctrl.rulesShow = !$ctrl.rulesShow">Instructions</button>
      </div>
    </div>
    <div ng-show="$ctrl.rulesShow" class="instructions-dropdown scrollingDiv">
      <div class="instructions-content">
        <h1 id="instructions-title">WELCOME TO TOWER POWER</h1>
        <p class="instructions-text">The objective of this game is to reach a five star rating for your tower.</p>

        <p>You are the proud owner of a no-star tower that consists merely of an empty floor with no units. However you have just received a small inheritance of ${{$ctrl.game.tower.funds}} from your long-lost, twice-removed, late cousin's granny all the way from Timbuktu. This small fortune happens to be just enough to start your tower empire! You have to find a way for your tower to reach 5 stars before you run out of money or you will lose the game. <strong>Build as fast as possible</strong> for a better score!</p>

        <p class="instructions-text"> Each floor of your tower supports 6 spaces to add units. </p>

        <p><strong>🏠 Residential Units increase population by {{$ctrl.game.res.population}} </strong> people and cost <strong>${{$ctrl.game.res.cost}} to build.</strong> Be careful though! Each residential unit also costs money to maintain and will deduct <strong>${{$ctrl.game.res.netRevenue}} every second.</strong></p>

        <p><strong>💰 Commercial Units generate ${{$ctrl.game.com.netRevenue}}</strong> in revenue per second and cost <strong>${{$ctrl.game.com.cost}} to build</strong>. Unlike residential units, commercial units do not have a maintenance fee.
        </p>

        <p><strong>🌟 Gain Stars 🌟 by increasing your tower population.</strong></p>
        <ul class="instructions-text">
          <li>⭐️ : {{$ctrl.game.starLevels[0]}} 🏠</li>
          <li>⭐️⭐️ : {{$ctrl.game.starLevels[1]}} 🏠</li>
          <li>⭐️⭐️⭐️ : {{$ctrl.game.starLevels[2]}} 🏠</li>
          <li>⭐️⭐️⭐️⭐️ : {{$ctrl.game.starLevels[3]}} 🏠</li>
          <li>⭐️⭐️⭐️⭐️⭐️ : {{$ctrl.game.starLevels[4]}} 🏠</li>
        </ul>
        <p class="instructions-text">Simple right? Well, just remember you can't delete anything you build, so plan ahead.</p>

        <p>Click <strong>NEW GAME</strong> to get started!</p>


      </div>
    </div>
